 body {
     justify-content: center;
     align-items: center;
     background-color: #448aff;
 }

 h1 {
     font-family: 'Pacifico', cursive;
     color: white;
     text-shadow: 0 -1px black;
 }

 .paper {
     flex-direction: column;
     padding: 30px;
     margin: auto;
     margin-top: 20px;
     height: max-content;
     display: flex;
     align-content: center;
     align-items: center;
     justify-content: center;
 }

 form {
     font-family: 'Roboto', sans-serif;
     border-radius: 10px;
     background-color: white;
     flex-direction: column;
     padding: 45px;
     margin: auto;
     margin-top: 20px;
     height: max-content;
     display: flex;
     align-content: center;
     align-items: center;
     justify-content: center;
 }

 label {
     align-self: flex-start;
 }

 samp {
     font-size: x-small;
     color: crimson;
     align-self: flex-start;
 }

 .error {
     border: solid crimson 2px;
 }

 @media (max-width: 768px) {
     .paper {
         width: 100% !important;
         height: 100%;
     }
     form {
         width: 100% !important;
         height: 100%;
     }
 }