.card {
    margin: 10px;
    flex-direction: row;
    display: flex;
    border: solid 1px lightgray;
    border-radius: 10px;
    padding: 20px;
    min-height: 200px;
    min-width: 200Px;
}

.containerBox {
    min-height: 200px;
    min-width: 200Px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.paper {
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: large !important;
}

.card-body {
display: flex;
flex-direction: column;
justify-content: space-between;
}

.btn {
    margin: 3px;
}
.btn-outline-primary {
    color: #337ab7;
    border: solid 1px #337ab7;
}

.texboxTransparent{
    border: unset
}
