<div class="jumbotron">
    <h1>API Factory Lab</h1>
</div>

<div style="justify-content: center; display: flex;">
    <img src="https://www.e-translation-agency.com/wp-content/uploads/2018/02/api-prestashop-magento-traduction.gif" />
</div>